body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background: #24c815;
    color: white;
    padding: 20px 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px; /* Відступ навколо всієї сітки */
}

.gallery img {
    width: 100%;
    height: 200px; /* Додав фіксовану висоту, щоб плитка була рівною */
    object-fit: cover; /* Щоб картинки не розтягувалися, а обрізалися */
    border-radius: 10px;
    transition: 0.3s;
    display: block;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.buttons {
    text-align: center;
    margin-top: 20px;    /* Відступ від хедера */
    margin-bottom: 10px; /* Відступ до галереї */
}

button {
    padding: 10px 20px;
    margin: 5px;
    background: #c81515;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s, transform 0.1s;
}

button:hover {
    background: #555;
}

button:active {
    transform: scale(0.95);
}